body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
}

a {
  color: #373B47;
  text-decoration: none;
  font-weight: 700;
  padding: 21px;
}

a:hover {
  color: #E95853;
}

footer{
	background-color: #373b47;
	color: white;
	text-align: center;
	padding: 1px;
}